.container{
	margin: 40px auto;
	border-style: solid;
	border-width:1px;
	border-color: #3A3A3A;
	background-color: #171717;
	border-radius:10px;
	-moz-border-radius:10px; /* Old Firefox */
}

.navigation{
	margin: 20px auto;
	max-width: 300px;
	text-align: center
}

.image_container{
	border-style: solid;
	border-width:1px;
	border-color: #0a0a0a;
	background-color: #121212;
	border-radius:10px;
	margin: 50px auto;
	max-width: 600px;
}

.input-append{
	margin: 0px auto;
	max-width: 100px;
	display: block;
}

.image {
	margin: 30px auto 10px;
	max-width: 500px;
	border-radius:8px;
	border-style: solid;
	border-width:1px;
	border-color: #3A3A3A;
}

.image_container h2{
	margin-left: 50px;
	color: #33b5e5;
}



.image_container .image_fb_like{
	margin: 20px auto;
	max-width: 100px;
	display: block;
}

.image_container .fb-comments{
	margin: 20px auto;
	max-width: 470px;
	display: block;
}

.pages_list{
	text-align:center;
	margin: 30px auto 80px;
	max-width: 700px;
}




