{% extends 'media/base.html' %}
{% block after_images %}
		<div class="pagination pagination-centered">
		  <ul>
		  	{% if images.has_previous %}
		    	<li><a href="/{{images.previous_page_number}}">Prev</a></li>
		    {% else %}
		   		<li class="disabled"><a>Prev</a></li>
		    {% endif %}
		    {% for page in pages_list %}
		    	{% if page == current_page %}
					<li class="active"><a href="/{{page}}">{{page}}</a></li>
				{% else %}
					<li><a href="/{{page}}">{{page}}</a></li>
				{% endif %}
			{% endfor %}
			{% if images.has_next %}
				<li><a href="/{{images.next_page_number}}">Next</a></li> 	
		   	{% else %}
		   		<li class="disabled"><a>Next</a></li>
		    {% endif %}
		  </ul>
		</div>
		<div class="input-append">
			<form name="input" action="/go_to_page/" method="get">
	  			<input name="page" class="span1" id="appendedInputButton" type="text">
	  			<button type="submit" class="btn" type="button">Go!</button>
  			</form>
		</div>
{% endblock%}
	